<footer id="mu-footer">
    <div class="mu-footer-top">
        <div class="container">
            <div class="mu-footer-top-area">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Information</h4>
                            <ul>
                              <li><a href="atplwwa.html">About Us</a></li>
                              <li><a href="atplfeature.html">Features</a></li>
                              <li><a href="atplproduct.html">Products</a></li>
                              <li><a href="gallery.html">Event</a></li>
                              <li><a href="atplsitemap.html">Sitemap</a></li>
                              <li><a href="atpltermuse.html">Term Of Use</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Solutions</h4>
                            <ul>
                              <li><a href="atplgs.html">Get Started</a></li>
                              <li><a href="atplmq.html">My Questions</a></li>
                              <li><a href="">Download Files</a></li>
                              <li><a href="atpllp.html">Latest Product</a></li>
                              <li><a href="blog-archive.html">Company News</a></li>                  
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <div class="mu-footer-widget">
                        <h4>News letter</h4>
                        <p>Get latest update, news & offers</p>
                        <form class="mu-subscribe-form">
                          <input type="email" placeholder="Type your Email">
                          <button class="mu-subscribe-btn" type="submit">Subscribe!</button>
                        </form>               
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <div class="mu-footer-widget">
                        <h4>Contact</h4>
                        <address>
                          <p>251, Nehrunagar</p>
                          <p>Patliputra, Patna</p>
                          <p>Bihar 800013</p>
                          <a style="color:white" href="tel:+919738401338">Phone: +91 9738401338 </a>
                          <p>Website: www.abhisu.com</p>
                          <a style="color:white" href="mailto:info@abhisu.com">Email: info@abhisu.com</a>
                        </address>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mu-footer-bottom">
      <div class="container">
        <div class="mu-footer-bottom-area">
          <p><b>&copy; Copyright</b> <a href="https://www.abhisu.com"><b style="color:#1523E1">ABHI</b><b style="color:#4FC132">SU</b> <b>Technology Pvt. Ltd.</b></a> <b>All Rights Reserved.</b></p>
        </div>
      </div>
    </div>
</footer>
